@import '_variables.scss';

@mixin border($color) {
  border: 1px solid lighten($color, 10%);
}

@mixin player() {
  background: url('./player.svg');
  @include border($floor);
}

@mixin potion() {
  background: url('./potion.svg');
  @include border($floor);
}

@mixin weapon() {
  background: url('./weapon.svg');
  @include border($floor);
}

@mixin enemy() {
  background: url('./enemy.svg');
  @include border($floor);
}

@mixin boss() {
  background: url('./boss.svg');
}
